<div class="jumbotron jumbotron-fluid">
    <div class="container mt-2">
      <h1 class="display-7">Colegio</h1>
      <hr>
      <p class="lead">
        En el año 2015 nace el Colegio Olimpo, institución académica fundada por Robinson Gamonal y Nora Barreau, quienes vieron la necesidad de crear un espacio educativo alternativo avalado por el Ministerio de Educación, que ofrezca la posibilidad de que el deporte y la formación académica vayan de la mano.
        
        Basada en su propia experiencia de vida, Robinson Gamonal, ex tenista y Director de Sport Academy, es que comienza la búsqueda de apoyo institucional para crear un Colegio que disponga de los tiempos y espacios fundamentales para que un deportista pueda desarrollarse en su disciplina, sin descuidar su formación académica. 
        
        Luego de varios intentos en organizar programas de preparación para exámenes libres, Miss Nora Barreau, en ese entonces Directora del Colegio San Juan de Las Condes, decide sumarse al proyecto y fundar el pilar educativo.
        
        Hoy en día en el Colegio Olimpo contamos con más de 140 alumnos desde 7º básico a 4º medio, cuyos resultados en exámenes de admisión para Universidades de Chile y Estados Unidos han sido excelentes, como así también el rendimiento deportivo en sus respectivas academias.
        
        El año 2020 y el 2021 nos trajeron nuevos desafíos a nosotros como institución y a las familias, donde debido a la pandemia mundial del Covid 19 nos vimos en la obligación de migrar las clases a la modalidad online. Debido al éxito de este sistema y sumado a necesidades particulares de familias que estando lejos físicamente de nuestro colegio, están interesados en sumarse a la familia Olimpo, nace el Instituto Olimpo Online.</p>
    </div>
  </div>